@charset "utf-8";
.services-rates {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.services-rates h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333; 
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-list li {
  margin-bottom: 15px;
  font-size: 1.2em;
}


.rates-info {
  margin-top: 30px;
  color: white; 
	text-align: center;
}
.services-rates li{
	text-decoration: none;
	text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, text-shadow 0.2s;
}
.services-list li:hover{
	text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.7); 
 
}
.services-list li a {
  text-decoration: none;
  transition: color 0.3s ease;
	font: bold;
	color: #19274E;
	 transform: scale(1.1);
}
.services-rates{
	position: relative;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.services-rates{
	background-image: url("../images/servicesBackground.jpg")
}